[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
nicegui = "*"
pywebview = "*"
qtpy = "*"
pyside6 = "*"

[scripts]
scrobble = "python scrobble.py"
gui = "python gui.py"
test = "pytest"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
